{% extends 'base.html' %}
{% block main_page %}
<h2 class="text-center">You are ready to go</h2>

{% endblock %}

<div data-asin="B07NL6PZ2R" data-index="1" data-uuid="b5777470-1a46-40f0-846a-ad3d06c60231"
    data-component-type="s-search-result"
    class="sg-col-4-of-24 sg-col-4-of-12 sg-col-4-of-36 s-result-item s-asin sg-col-4-of-28 sg-col-4-of-16 sg-col sg-col-4-of-20 sg-col-4-of-32">
    <div class="sg-col-inner"> <span cel_widget_id="MAIN-SEARCH_RESULTS"
            class="celwidget slot=MAIN template=SEARCH_RESULTS widgetId=search-results">
            <div class="s-expand-height s-include-content-margin s-latency-cf-section">
                4<div class="a-section a-spacing-medium a-text-center">
                    <div class="a-section a-spacing-none s-grid-status-badge-container-dark"> </div>
                    <div class="a-section a-spacing-none s-image-overlay-black">
                        <div class="s-image-overlay-white-semitransparent"> <span data-component-type="s-product-image"
                                class="rush-component"> <a class="a-link-normal s-no-outline" target="_blank"
                                    href="/Veirdo-Mens-Cotton-Tshirt/dp/B07NL6PZ2R?dchild=1">
                                    <div class="a-section aok-relative s-image-tall-aspect"> <img
                                            src="https://m.media-amazon.com/images/I/71gM69kgtaL._AC_UL320_.jpg"
                                            class="s-image" alt="Veirdo Men\'s Regular Fit T-Shirt"
                                            srcset="https://m.media-amazon.com/images/I/71gM69kgtaL._AC_UL320_.jpg 1x, https://m.media-amazon.com/images/I/71gM69kgtaL._AC_UL480_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71gM69kgtaL._AC_UL640_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71gM69kgtaL._AC_UL800_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71gM69kgtaL._AC_UL960_QL65_.jpg 3x"
                                            data-image-index="1" data-image-load="" data-image-latency="s-product-image"
                                            data-image-source-density="1"> </div>
                                </a></span> </div>
                    </div>
                    <div class="a-section a-spacing-none">
                        <div class="a-section s-color-swatch-container">
                            <div
                                class="a-section s-color-swatch-outer-circle s-color-swatch-outer-circle-selected s-color-swatch-pad">
                                <span class="s-color-swatch-inner-circle-fill" style="background-color: #363527"> <a
                                        aria-label="Multi-Coloured"
                                        class="a-link-normal s-color-swatch-inner-circle-border"
                                        href="/Veirdo-Mens-Cotton-Tshirt/dp/B07NL6PZ2R/ref=cs_sr_dp_1?dchild=1"
                                        role="button"></a> </span> </div>
                            <div class="a-section s-color-swatch-outer-circle s-color-swatch-pad"> <span
                                    class="s-color-swatch-inner-circle-fill" style="background-color: #483C32"> <a
                                        aria-label="Black" class="a-link-normal s-color-swatch-inner-circle-border"
                                        href="/Veirdo-Mens-Cotton-Tshirt/dp/B07BHNZJTT/ref=cs_sr_dp_2?dchild=1"
                                        role="button"></a> </span> </div>
                        </div>
                    </div>
                    <div class="a-section a-spacing-none a-spacing-top-small">
                        <div class="a-row a-size-base a-color-secondary">
                            <h5 class="s-line-clamp-1"> <span class="a-size-base-plus a-color-base"
                                    dir="auto">Veirdo</span> </h5>
                        </div>
                        <h2 class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"> <a
                                class="a-link-normal a-text-normal" target="_blank"
                                href="/Veirdo-Mens-Cotton-Tshirt/dp/B07NL6PZ2R?dchild=1"> <span
                                    class="a-size-base-plus a-color-base a-text-normal" dir="auto">Men\'s Regular Fit
                                    T-Shirt</span> </a> </h2>
                    </div>
                    <div class="a-section a-spacing-none a-spacing-top-micro">
                        <div class="a-row a-size-small"><span aria-label="3.9 out of 5 stars"> <span
                                    class="a-declarative" data-action="a-popover"
                                    data-a-popover=\'{"max-width":"700","closeButton":false,"position":"triggerBottom","url":"/review/widgets/average-customer-review/popover/ref=acr_search__popover?ie=UTF8&amp;asin=B07NL6PZ2R&amp;ref=acr_search__popover&amp;contextId=search"}\'>
                                    <a href="javascript:void(0)" class="a-popover-trigger a-declarative"><i
                                            class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span
                                                class="a-icon-alt">3.9 out of 5 stars</span></i><i
                                            class="a-icon a-icon-popover"></i></a> </span> </span><span
                                aria-label="166"> <a class="a-link-normal" target="_blank"
                                    href="/Veirdo-Mens-Cotton-Tshirt/dp/B07NL6PZ2R?dchild=1#customerReviews"> <span
                                        class="a-size-base" dir="auto">166</span> </a></span></div>
                    </div>
                    <div class="a-section a-spacing-none a-spacing-top-small">
                        <div class="a-row a-size-base a-color-base">
                            <div class="a-row"><a class="a-size-base a-link-normal s-no-hover a-text-normal"
                                    target="_blank" href="/Veirdo-Mens-Cotton-Tshirt/dp/B07NL6PZ2R?dchild=1"> <span
                                        class="a-price" data-a-size="l" data-a-color="price"><span
                                            class="a-offscreen">₹299</span><span aria-hidden="true"><span
                                                class="a-price-symbol">₹</span><span
                                                class="a-price-whole">299</span></span></span> <span
                                        class="a-price a-text-price" data-a-size="b" data-a-strike="true"
                                        data-a-color="secondary"><span class="a-offscreen">₹999</span><span
                                            aria-hidden="true">₹999</span></span> </a><span
                                    class="a-letter-space"></span><span dir="auto">Save ₹700 (70%)</span></div>
                        </div>
                        <div class="a-row a-size-base a-color-secondary">
                            <div class="a-row"><span class="a-color-secondary"><span class="a-truncate"
                                        data-a-word-break="normal" data-a-max-rows="1"
                                        data-a-overflow-marker="&amp;hellip;"
                                        style="line-height: 1.3em !important; max-height: 1.3em;"><span
                                            class="a-truncate-full">Save extra with No Cost EMI</span><span
                                            class="a-truncate-cut a-hidden" aria-hidden="true"></span></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="a-section a-spacing-none a-spacing-top-micro">
                        <div class="a-row a-size-base a-color-secondary s-align-children-center">
                            <div class="a-row"><span dir="auto">FREE Delivery on your first order in this
                                    category</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </span></div>
</div>